<div class=" mt-40 w-full flex flex-col items-center border-b-2 border-gray-100 py-10">
    <div class="max-w-lg mx-auto w-full p-4 text-center">
        <h1 class="text-4xl font-light mb-8">Your Reading Library</h1>
        <p class="text-gray-400 mb-10">Organize your books, track ratings, and capture key insights with a clean, minimal approach</p>

        <button class="addBook bg-black text-white px-4 py-2 text-center hover:bg-black/70 transition-colors ease-in-out duration-200 cursor-pointer">Add Book</button>
    </div>

    

</div>